body {
    background: lavender ;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr;
}
.header {
    display: inline-block;
    background: skyblue;
    font-family: monospace;
    grid-column: 2/6;
}

img.resize {
    max-width: 75%;
}

.dropdown {
    grid-row: 2/3;
    grid-column: 3/6;
    font-family: monospace;
}

.review {
    display: inline-block;
    grid-row: 3;
    grid-column: 3;
    font-family: monospace;

}